ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(200, 231, 240);
    
  }

  li {
      
      float: right;
  }
  button{
      
    padding: 20px;
    background-color: rgb(206, 240, 250);
    font-size: larger;
    border-color: whitesmoke;
  }